*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-size: .833333333vw;
    line-height: var(--text-line-height);
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
    accent-color: var(--link);
}

@media (hover: hover) and (pointer: fine) {
    :focus-visible {
        outline-offset: .2rem;
        outline-color: inherit;
        outline-width: .1rem;
        outline-style: solid;
        border-radius: .2em;
    }

    :focus-visible:active {
        outline-offset: .1rem;
    }
}

@media (hover: none) and (pointer: coarse) {
    :focus-visible {
        outline: none;
    }
}

:is(h1, h2, h3, h4, h5, h6, p) :target::before {
    content: '👀 ';
}

:disabled {
    opacity: .6;
    pointer-events: none;
}

[id] {
    scroll-margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    line-height: var(--title-line-height);
    color: var(--title);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .6rem;
}

p {
    margin-block-end: var(--text-line-height);
}

a {
    text-decoration-line: none;
    /* background: var(--link-background); */
    /* padding: .125em .4em; */
    color: var(--link);
    /* border-radius: .2em; */
}

a:hover {
    text-decoration-line: underline;
}

b, strong {
    color: var(--title);
}

i, em {}

u, ins {}

:where(ul, ol) li::marker {
    font-weight: bold;
}

ul ul ul {
    list-style-type: '-   ';
}

ol ol {
    list-style-type: lower-latin;
}

ol ol ol {
    list-style-type: lower-greek;
}

ul, ol, dl {
    margin-block-end: var(--text-line-height);
}

ul, ol, dd {
    margin-inline-start: 2em;
}

dt {
    font-weight: bold;
    color: var(--title);
}

dd, li {
    margin-block-end: 1em;
}

pre {
    background-color: var(--block-background);
    color: var(--block);
    padding: .5rem 1rem;
    margin-block-end: var(--text-line-height);
    border-radius: .5rem;
    overflow-x: auto;
}

pre>code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: inherit;
}

code {
    font-family: 'Fira Code', 'JetBrains Mono', monospace;
    background: var(--text-background);
    padding: .125em .4em;
    color: var(--title);
    border-radius: .2em;
    font-size: .9rem;
}

table {
    width: 100%;
    margin-block-end: var(--text-line-height);
    border-collapse: separate;
    border-spacing: 0;
}

table.collapsed {
    border-collapse: collapse;
}

table.collapsed, table.collapsed :is(td, th) {
    border-width: .1rem;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
}

caption {
    margin-block-end: .5rem;
}

table tr:first-of-type :where(td, th) {
    border-top-width: .1rem;
}

thead+tbody tr:first-of-type :where(td, th) {
    border-top-width: 0;
}

table :where(td, th) {
    border-width: 0 .1rem .1rem 0;
    border-style: solid;
    border-color: var(--border);
    padding: .5rem 1rem;
}

table :where(td, th):first-of-type {
    border-left-width: .1rem;
}

table img {
    margin: 0;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    margin-block-end: var(--text-line-height);
    border-radius: .5rem;
}

p>img {
    display: inline;
    /* margin-block: .5em; */
    margin: 0;
    vertical-align: middle;
    max-height: calc(var(--text-line-height) * 2);
    border-radius: .2em;
}

br {
    line-height: 1;
}

hr {
    margin-block: var(--text-line-height);
    border: 0;
    border-top: .1rem dashed var(--border);
}

button, .button, [type="button"], [type="submit"], [type="reset"] {
    --button-hover-shadow: var(--shadow, black);
    --button-hover-transform: translateY(-.2em);
    --button-color: var(--button);
    --button-background-color: var(--button-background);
    display: inline-block;
    background-color: var(--button-background-color);
    color: var(--button-color);
    padding: .5em 1em;
    margin-block-end: .2rem;
    border: .1rem solid var(--border);
    border-radius: .2em;
    cursor: pointer;

    transition: transform, box-shadow;
    transition-duration: .1s;

    -webkit-appearance: none;
}

[type="submit"] {
    --button-hover-shadow: var(--link-shadow);
    --button-color: var(--background);
    --button-background-color: var(--link-background);
    font-weight: bold;
    outline-color: var(--link);
}

[type="reset"] {
    --button-hover-shadow: var(--muted-shadow);
    --button-hover-transform: translateY(-.1em);
    --button-background-color: var(--background);
}

@media (hover: hover) {
    :where(button, .button, [type="button"], [type="submit"], [type="reset"]):hover {
        transform: var(--button-hover-transform);
        box-shadow: 0 .5em 1em var(--button-hover-shadow);
    }
}

:where(button, .button, [type="button"], [type="submit"], [type="reset"]):active {
    transform: translateY(0);
    box-shadow: 0 .3em .6em var(--button-hover-shadow);
}

@media (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}