*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (hover: hover) and (pointer: fine) {
    :focus-visible {
        outline-offset: .2rem;
        outline-color: inherit;
        outline-width: .1rem;
        outline-style: solid;
        border-radius: .2em;
    }

    :focus-visible:active {
        outline-offset: .1rem;
    }
}

@media (hover: none) and (pointer: coarse) {
    :focus-visible {
        outline: none;
    }
}

:is(h1, h2, h3, h4, h5, h6, p) :target::before {
    content: '👀 ';
}

:disabled {
    opacity: .6;
    pointer-events: none;
}

[id] {
    scroll-margin-top: 4rem;
}

html {
    font-family: sans-serif;
    font-size: .833333333vw;
    line-height: var(--text-line-height);
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    line-height: var(--title-line-height);
    color: var(--title);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .6rem;
}

p {
    margin-block-end: var(--text-line-height);
}

a {
    text-decoration-line: none;
    /* background: var(--link-background); */
    /* padding: .125em .4em; */
    color: var(--link);
    /* border-radius: .2em; */
}

a:hover {
    text-decoration-line: underline;
}

b, strong {
    color: var(--title);
}

i, em {}

u, ins {}

ul, ol, dl {
    margin-block: 1.5em;
}

ul, ol, dd {
    margin-inline-start: 2em;
}

dt {
    font-weight: bold;
    color: var(--title);
}

dd, li {
    margin-block-end: 1em;
}

pre {
    background-color: var(--text-background);
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    overflow-x: auto;
}

pre>code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

code {
    background: var(--text-background);
    padding: .125em .4em;
    color: var(--title);
    border-radius: .2em;
    font-size: .9rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: .1rem solid var(--border);
}

td, th {
    padding: .5rem 1rem;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    margin-block-end: 1.5em;
    border-radius: .5rem;
}

p>img {
    display: inline;
    /* margin-block: .5em; */
    margin: 0;
    vertical-align: middle;
    max-height: calc(var(--text-line-height) * 2);
    border-radius: .2em;
}

br {
    line-height: 1;
}

hr {
    margin-block: 1.5em;
    border: 0;
    border-top: .1rem dashed var(--border);
}

button, .button, [type="button"], [type="submit"], [type="reset"] {
    --button-hover-shadow: var(--shadow, black);
    --button-transform: translateY(-.2em);
    display: inline-block;
    background-color: var(--text-background);
    padding: .5em 1em;
    border: .1rem solid var(--border);
    border-radius: .2em;
    cursor: pointer;
    color: inherit;

    -webkit-appearance: none;
}

[type="submit"] {
    --button-hover-shadow: var(--link-shadow);
    font-weight: bold;
    color: var(--background);
    background-color: var(--link-background);
    outline-color: var(--link);
}

[type="reset"] {
    --button-hover-shadow: var(--muted-shadow);
    --button-transform: translateY(-.1em);
    background-color: var(--background);
}

:is(button, .button, [type="button"], [type="submit"], [type="reset"]):hover {
    transform: var(--button-transform);
    box-shadow: 0 .5em 1em var(--button-hover-shadow);
}

:is(button, .button, [type="button"], [type="submit"], [type="reset"]):active {
    transform: translateY(0);
    box-shadow: 0 .3em .6em var(--button-hover-shadow);
}

@media (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}